@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-image: url(./images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color:hsl(235, 21%, 11%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
}

.logo{
  color: #fff;
  font-size: 2.6rem;
}